<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
/>
<section class="footer_menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="footer_menu_li">
              <h2>GITHUB</h2>
              <ul>
                <li>
                  <a href="" target="_blank"> Releases </a>
                </li>
                <li>
                  <a href="" target="_blank"> Commits </a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer_menu_li">
              <h2>Dokümantasyon</h2>
              <ul>
                <li>
                  <a href="" target="_blank"> Tüm Bilgilere Buradan Ulaşabilirsiniz</a>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <!-- <div class="footer_menu_li">
              <h2>Innocent Spouse Tax Relief</h2>
              <ul>
                <li>
                  <a href=""> Where does it come from?</a>
                </li>
                <li>
                  <a href="">Where does it come from?</a>
                </li>
                <li>
                  <a href="">Where does it come from?</a>
                </li>
              </ul>
            </div> -->
            <!-- <div class="footer_menu_li" style="margin-top: 4rem">
              <h2>Tax Audits</h2>
              <ul>
                <li>
                  <a href="">Where does it come from?</a>
                </li>
                <li>
                  <a href="">Where does it come from?</a>
                </li>
                <li>
                  <a href="">Where does it come from?</a>
                </li>
              </ul>
            </div> -->
          </div>

          <div class="col-lg-4">
            <div class="footer_right_contact">
              <div class="get_fill_number_infor">
                <div class="media_custom">
                  <!-- <i class="fa fa-phone" aria-hidden="true"></i>
                  <div class="media_body">
                    <p>1 (888) 000-0000</p>
                  </div> -->
                </div>
                <div class="media_custom">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <div class="media_body">
                    <p>
                      <a href="mailto:"
                        >e-posta</a
                      >
                    </p>
                  </div>
                </div>
                <!-- <div class="media_custom">
                   <i class="fa fa-map-marker" aria-hidden="true"></i> 
                    <div class="media_body">
                    <p><br /></p>
                  </div> 
                </div> -->
                <div class="media_custom footer_socil">
                  <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="" target="_blank"><i class="fa fa-youtube"></i></a>
                  <a href="" target="_blank"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="register_form">
          <h3>REGISTER</h3>
          <p>
            To Get Free Tips &amp; Insights Directly From Our Licensed
            Professionals.
          </p>
          <form>
            <div class="row">
              <div class="form-group col-lg-5 col-md-12">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Name"
                />
              </div>
              <div class="form-group col-lg-5 col-md-12">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Your Email"
                />
              </div>
              <div class="form-group col-lg-2 col-md-12">
                <app-auth-button></app-auth-button>
              </div>
            </div>
          </form>
        </div> -->
      </div>
    </div>
  </div>
</section>
